body {
  background-color: #def5e5;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #227c70;
  border-width: 5px;
  width: 7%;
}
img {
  border: 3px solid #184d47;
  height: 180px;
}
h1 {
  color: #065446;
}
h3 {
  color: #227c70;
}
